/* @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); */

body {
    background-color: beige;
}

i {
    font-family: fontawesome !important;
}

.container {
    background-color: #FFFFFF;
    min-width: 550px;
    min-height: 200px;
    width: 1100px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
	box-sizing:border-box;
}

.container:hover {
    border: 1px solid orange;
}

.container:hover .lesson-number {

    display: block;

}

.left-block {
    position: relative;
    width: 20%;
    height: 100%;
}

.lesson-number {
    width: 30px;
    height: 30px;
    background-color: orange;
    color: #FFFFFF;
    padding: 6px 0 8px 10px;
    box-sizing: border-box;
    display: none;
    position: fixed;
}

.logo {
    width: 100%;
    height: auto;
    margin: 40% 0 0 30%;
}

.centr-block {
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.center-header-block {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.center-header-block div {
    margin-top: 30px;
    margin-right: 30px;
    padding: 5px 0 0 10px;
    color: silver;
    width: 20%;
    height: 25px;
    align-content: center;
}

.center-header-block i {
    margin-right: 10px;
}

.center-body-block {
    width: 100%;
    height: 33.3%;
}

.center-footer-block {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.center-footer-block div {
    margin-right: 40px;
    margin-top: 30px;
    padding: 5px 0 0 10px;
    width: 20%;
    height: 25px;
    align-content: center;
}

.center-footer-block i {
    margin-right: 10px;
}

.eye {
    color: orange;
}

.bell {
    color: #616161;
}

.right-block {
    width: 10%;
    height: auto;
    padding: 12% 0 0 3%;
}

/*следующий код скопипастченый*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Закругленные ползунки */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}