body {
    background-color: aliceblue;
}

.header-container {
    display: flex;
    width: 1100px;
    min-height: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0 auto;
}

.header-items {
    text-align: center;
    background-position-y: center;
    width: 20%;
    padding: 5px 0 0 0;
    box-sizing: border-box;
}

.header-logo {
    background-color: royalblue;
    border-radius: 5px;
}

.statistic-block {
    display: flex;
    width: 1100px;
    min-height: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
}

.statistic-items {
    text-align: center;
    width: 20%;
    margin-top: 5px;
    padding: 15px 0 0 0;
    box-sizing: border-box;
}

.statistic-block button {
    border-radius: 40px;
    background-color: royalblue;
    margin-top: 1%;
    margin-left: 15%;
    height: 30px;
    width: 150px;
}

.curency-block {
    display: flex;
    width: 1100px;
    height: 400px;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
}

.curency-items {
    display: flex;
    min-width: 150px;
    min-height: 150px;
    width: 25%;
    height: 200px;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 2px solid #77777777;
}

.curency-items div {
    background: #ffffff;
    padding-left: 5%;
    height: auto;
    width: 100%;
}

.curency-items div>button {
    margin-left: 20px;
}

.statistic-active-curency {
    display: grid;
    width: 1100px;
    height: 400px;
    margin: 0 auto;
    grid-template-columns: 200px 200px 200px 200px 300px;
    grid-template-rows: 70px 300px;
    grid-template-areas:
        "act act act . ."
        "pas1 pas1  pas1 pas1 pas";
}

.active-curency-items {
    min-width: 50px;
    min-height: 50px;
}

.active-curency {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    grid-area: act;
    padding: 10px;
}

.active-curency div {
    width: 150px;
}

.pasive-curency {
    grid-area: pas;
    background-image: url("../img/statistic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.pasive-curency1 {
    grid-area: pas1;
    background-image: url("../img/grafic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.futer {
    display: grid;
    width: 1100px;
    height: 250px;
    margin: 0 auto;
    grid-template-columns: 800px 300px;
    grid-template-rows: 250px;
    grid-template-areas:
        "ftleft ftright";
}

.futer-left {
    min-width: 100px;
    min-height: 100px;
    grid-area: ftleft;
}


.futer-left-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin-top: 5px;
}

.futer-left-header button {
    border-radius: 10px;
    width: 100px;
    margin-top: 5px;
    background-color: beige;

}

.futer-left span {
    display: block;
    margin-top: 5px;
}

.futer-left-body {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.futer-left-body-items {
    display: flex;
    height: 50px;
    width: 100%;
}


.futer-left-body-items div {
    width: 25%;
    height: auto;
    padding: 10px;
}

.caption {
    color: blue;
}

.plan {
    color: orange
}

.active {
    color: green;
}

.futer-right {
    min-width: 100px;
    min-height: 100px;
    grid-area: ftright;
}

.futer-right span {
    display: block;
    margin-top: 5px;
}

.futer-right-body {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.futer-right-body-items {
    display: grid;
    height: 65px;
    width: 100%;
}

.futer-right-body-items-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 3px 0 0;
    box-sizing: border-box;
}