h1 {
    text-align: center;
}

.container {
    border: 2px solid green;
    padding: 15px 5px 10px 5px;
    box-sizing: border-box;

}

.title_page {
    border: 1px solid blue;

}

.container-flex {
    display: flex;
    border: 2px solid red;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
}

.source_link {
    border: 1px solid orange;
    margin-top: 10px;
    height: 200px;
    width: 15%;
    box-sizing: border-box;

}

a {
    display: block;
    height: 200px;
    background-image: url("Бандера.jpg");
    background-repeat: no-repeat;
    background-size: 150px;
}

.source {
    border: 1px solid blue;
    margin-top: 10px;
    height: 200px;
    width: 85%;
    padding: 15px;
    box-sizing: border-box;
}

.main_page {
    border: 1px solid magenta;
    margin-top: 10px;
    padding: 5px 5px 5px 15px;
}

.example_collapse_margin {
    border: 3px dotted slateblue;
    margin-top: 100px;
    margin-bottom: 100px;
}

.example_collapse_margin_color {

    background-color: rgb(105, 183, 255);
}

.example_collapse_margin_color_two {
    background-color: slategrey;
}