body {
    background-color: rgb(248, 248, 248);
}

.my-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: rgb(85, 85, 85);
    box-sizing: border-box;
}

.header-block {
    height: 100%;
}

.header-block-empty {
    height: 100%;
    width: 40%;
}

.logo {
    display: block;
    padding: 2px;
    width: 12%;
    box-sizing: border-box;
}

a.link-logo {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 150px;
}

.head-setings {
    padding: 20px 0 0 0;

}

.geo-link {
    display: block;
    width: 80px;
    height: 20px;
    padding: 0 0 0 10px;
    font-size: 20px;
}

.active-language {
    color: #ffffff;
    font-size: 20px;
}

.head-setings a {
    color: rgb(142, 181, 244);
    text-decoration: none;
    font-size: 20px;
}

.head-setings i {
    color: rgb(142, 181, 244);
    font-size: 20px;
}

.head-user {
    width: 8%;
}

.head-user a {
    display: block;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.login-box {
    display: flex;
    padding-top: 5%;
    box-sizing: border-box;
}

.login-fon {
    width: 40px;
    height: 40px;
    background-image: url(images/login.png);
    background-repeat: no-repeat;
    background-size: 40px;
}

.login-title {
    margin-top: 10%;
    margin-left: 2px;
    color: #ffffff;
}

.scales-block {
    width: 8%;
    background-position: center;
}

.scales-link {
    display: block;
    margin-left: 35%;
    width: 40px;
    height: 40px;
    background-image: url(images/scales.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.scales-text {
    margin-left: 15%;
    color: #ffffff;
}

.heart-block {
    width: 8%;
}

.heart {
    display: block;
    margin-left: 35%;
    width: 40px;
    height: 40px;
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-size: 40px;
}

.heart-text {
    margin-left: 15%;
    color: #ffffff;
}



.search-block {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 5px;
}

.search-product {
    display: block;
    width: 30%;
    color: #ffffff;
    font-size: 20px;
    background-color: rgb(110, 159, 236);
}

.search-input {
    display: block;
    width: 67%;
}

.search-button {
    display: block;
    height: 40px;
    width: 3%;
    background-color: rgb(110, 159, 236);
    text-align: center;
}

.search-button i {
    margin-top: 10%;
    color: #ffffff;
    font-size: 30px;
}

.block-page-url {
    display: flex;
    width: 100%;
    height: 30px;
}

.block-page-url a {
    display: block;
    color: #000000;
    margin-top: 5px;
    width: 30px;
}

.block-page-url-text {
    height: 30px;
    width: 200px;
    margin-top: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 600px;
    width: 100%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.block-left-place {
    height: auto;
    width: 30%;
    box-sizing: border-box;
}

.block-left-place i {
    color: rgb(197, 146, 207);
}

.block-left-place h1 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.block-left-place a {
    display: block;
    height: 30px;
    width: 100%;
}

.block-right-place {
    height: auto;
    width: 70%;
    box-sizing: border-box;
}

.navigation-panel {

    height: auto;
    width: 100%;
    border: 2px solid silver;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px #888888;
    box-sizing: border-box;
}

ul {
    display: block;
    list-style: none outside none;
}

ul a {
    color: black;
}

h2 a {
    text-decoration: none;
    color: rgb(61, 126, 230);
}

.category {
    border: 1px solid silver;
    display: flex;
    height: 30px;
    width: 35%;
    background-color: rgb(255, 255, 255);
}

.category a {
    display: block;
    color: #000000;
    padding-left: 10px;
    padding-top: 5px;
    text-decoration: none;
}

.cart-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    padding: 5px;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
}

.cart {
    border: 1px solid silver;
    height: 200px;
    width: 19%;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.cart a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-position: center;
}

.cart img {
    width: 150px;
    height: 150px;
}